body {
    font-family: 'Helvetica', sans-serif;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #311f37; 
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #24559a;
    border-radius: 4px;
    border: 2px solid #304563;
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
    background-color: #6B7280;
}


.resistor-body {
    height: 60px;
    width: 400px;
    background-color: #D1D5DB;
    border-radius: 12px;
    position: relative;
}


.resistor-lead {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 4px;
    background-color: #A1A1AA; 
    transform: translateY(-50%);
}
.resistor-lead.left { left: -50px; }
.resistor-lead.right { right: -50px; }


.resistor-band {
    width: 16px;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 4px;
}

.band-1 { left: 30px; }
.band-2 { left: 70px; }
.band-3 { left: 110px; }
.band-4 { left: 160px; }
.band-5 { right: 30px; }
